################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FiestaDataImport
/FiestaDataImport/obj
/FiestaDataImport/bin/Debug/netcoreapp2.1
